name: Check

on:
  check_run:
    types:
    - rerequested
    - requested_action
  pull_request:
    branches:
    - $default-branch
  push:
    branches:
    - $default-branch
    tags:
    - v*

env:
  GO111MODULE: "on"

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2

      - name: Check commit
        uses: pre-commit/action@v2.0.0

      - name: Ensure tidy gomod
        run: |
          go mod download -x
          go mod tidy
          if ! git diff --exit-code
          then
            echo "go mod not tidy"
            exit 1
          fi

      - name: Cache gomod
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Lint
        uses: golangci/golangci-lint-action@v1
        with:
          version: v1.29
          args: --issues-exit-code=1
          only-new-issues: true
